POSTGRES_DB=yourdatabasename
POSTGRES_USER=youruser
POSTGRES_PASSWORD=youruser
SPRING_DATASOURCE_URL=yourpathtodatabase

TEST_CALENDARS=your calendars
TEST_APPLICATION_URL=your test application url

LABEL=your domain label