POSTGRES_DB=yourdatabasename
POSTGRES_USER=youruser
POSTGRES_PASSWORD=youruser
SPRING_DATASOURCE_URL=yourpathtodatabase

# Application Configuration
MIGRATIONS_ENABLE=true
LOG_LEVEL=DEBUG

CALENDAR_APPLICATION_NAME=yourcalendarapplicationname
DEFAULT_CALENDAR=yourdefaultcalendar
TEST_CALENDARS=your calendars
TEST_APPLICATION_URL=your test application url

LABEL=yourdevdomain