POSTGRES_DB=yourdatabasename
POSTGRES_USER=youruser
POSTGRES_PASSWORD=youruser
SPRING_DATASOURCE_URL=yourpathtodatabase

CALENDARS=your calendars
APPLICATION_URL=your application url

LABEL=your domain label