SPRING_DATASOURCE_URL=jdbc:postgresql://0.0.0.0:5432/effectiveoffice
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres

MIGRATIONS_ENABLE=true
APPLICATION_URL=http://localhost:8080
LOG_LEVEL=debug

CALENDAR_APPLICATION_NAME=YourApplicationName
CALENDAR_DELEGATED_USER=yourdelegateduseremail
GOOGLE_CREDENTIALS_FILE=classpath:google-credentials.json

DEFAULT_APP_EMAIL=yourdefaultappemail
FIREBASE_CREDENTIALS=classpath:firebase-credentials.json
DEFAULT_CALENDAR=yourdefaultcalendar

LEADERID_EVENTS_PERIOD_DAYS=14
LEADERID_DEFAULT_CITY_ID=123
LEADERID_DEFAULT_PLACE_ID=1234
LEADERID_DEFAULT_PAGINATION_SIZE=100

SYNOLOGY_IP=https://synology.example:443/
SYNOLOGY_LOGIN=Login
SYNOLOGY_PASSWORD=Pass123
SYNOLOGY_ALBUM_NAME=Best of 2024

NOTION_TOKEN=ntn_token-123
NOTION_TEAMMATES_DATABASE_ID=1bfc8889e4c8816
NOTION_SUPERNOVA_DB_ID=1bfc8889e4c8817